@inject ICategoryService CategoryService
@implements IDisposable

@* MOBILE *@

<div class="mobile-nav title-application navbar navbar-dark">
	<div class="container-fluid">
		<a class="brand" href="">Start buying</a>
		<button title="navigation_menu" class="navbar-toggler" @onclick="ToggleMenuMobile">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="mobile-menu @(collapseMenuMobile ? " " : "open")" @onclick="ToggleMenuMobile">

	<nav>
		<a href="">Home</a>

		@foreach (var category in CategoryService.Categories)
		{
			<a href="@category.Url">
				@category.Name
			</a>
		}
	</nav>

</div>


@* DESK *@

<div class="desk-nav">
	<nav class="menu-layout">
		<a class="item" href="">
			<span class="oi oi-home" aria-hidden="true"></span> Home
		</a>
		@if (CategoryService.Categories != null)
		{
			@foreach (var category in CategoryService.Categories)
			{
				<a class="item" href="@category.Url">
					@category.Name
				</a>

			}
		}

	</nav>
</div>

@code {

	private bool collapseMenuMobile = true;

	private void ToggleMenuMobile()
	{
		collapseMenuMobile = !collapseMenuMobile;
	}

	//pq esse metodo precisa ser overrride protected ?
	//eese metodo que faz aparecer em dev tool network a api Category. Pq fica registrado com esse nome ????
	protected override async Task OnInitializedAsync()
	{
		await CategoryService.GetCategories();
		CategoryService.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		CategoryService.OnChange -= StateHasChanged;
	}

}